# {{ ansible_managed }}

[Unit]
Description=The plugin-driven server agent for reporting metrics into InfluxDB
Documentation=https://github.com/influxdata/telegraf
After=network.target

[Service]
EnvironmentFile=-/etc/default/telegraf
User={{ telegraf.user.user }}
ExecStart=/usr/bin/telegraf -config {{ telegraf.conf.dir }}/telegraf.conf -config-directory {{ telegraf.conf.dir }}/telegraf.d $TELEGRAF_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartForceExitStatus=SIGPIPE
KillMode=control-group

[Install]
WantedBy=multi-user.target
