# {{ ansible_managed }}

[[inputs.file]]
  files = ["/sys/class/thermal/thermal_zone0/temp"]
  name_override = "cpu_temperature"
  data_format = "value"
  data_type = "integer"

[[inputs.exec]]
  commands = [ "/opt/vc/bin/vcgencmd measure_temp" ]
  data_format = "grok"
  grok_patterns = ["%{NUMBER:gpu_temperature:float}"]

[[inputs.exec]]
  commands = [ "/opt/vc/bin/vcgencmd get_mem arm" ]
  data_format = "grok"
  grok_patterns = ["%{NUMBER:vcgencmd_get_mem_arm:int}"]

[[inputs.exec]]
  commands = [ "/opt/vc/bin/vcgencmd get_mem gpu" ]
  data_format = "grok"
  grok_patterns = ["%{NUMBER:vcgencmd_get_mem_gpu:int}"]

[[inputs.exec]]
  commands = [ "/opt/vc/bin/vcgencmd measure_volts core" ]
  data_format = "grok"
  grok_patterns = ["%{NUMBER:vcgencmd_measure_volts_core:float}"]
