# {{ ansible_managed }}

[[outputs.cloudwatch]]
  region = "eu-central-1"
  namespace = "Telegraf"
  access_key = "{{ lookup('aws_ssm', 'Telegraf', region='eu-central-1') | from_json | json_query('aws_access_key_id') }}"
  secret_key = "{{ lookup('aws_ssm', 'Telegraf', region='eu-central-1') | from_json | json_query('aws_secret_access_key') }}"
